*{
    background-image: url(/Users/thoravaltristan/Desktop/projet_3WA/views/images/main-background.jpg);
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    position:sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 9%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: white;
    border-bottom: 2px solid white;
}

main {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}

.clip {
    display: block;
    
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}

form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

#bio {
  padding: 100px 204px;
  text-align: center;
  max-width: 100%;
  font-size: 13px;
  
}

footer
{
  
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}