<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Androma</title>
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css" />
    </head>
    <body>
      <header>
        
        <nav>
          
        <ul class="menu">
              <li>
                <a href="#">MUSIC</a>
              </li>
              <li>
                <a href="#bio">BIO</a>
              </li>
              <li>
                <a href="shop.html">SHOP</a>
              </li>
              <li>
                <a href="services.html">SERVICES</a>
              </li>
              <li>
                <a href="contact.html">CONTACT</a>
              </li>
              <li>
                <img src="images/logoipsum-logo-59.svg"
     alt="androma logo"
     width="80"
     height="80">
              </li>
              <li>
                <a href="https://open.spotify.com/artist/5dlDKfWqGuEpQgaizvuWYh" target="_blank"><i class="fa-brands fa-spotify"></i></a>
              </li>
              <li>
                <a href="https://music.apple.com/fr/artist/androma/966926140" target="_blank"><i class="fa-brands fa-apple"></i></a>
              </li>
              <li>
                <a href="https://www.deezer.com/fr/artist/7548420" target="_blank"><i class="fa-brands fa-deezer"></i></a>
              </li>
              
              
              <li>
                 <a href="https://www.instagram.com/androma_" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.facebook.com/andromamusicpage" target="_blank"><i class="fa-brands fa-facebook"></i>
                </a>
              </li>
              
        </ul>
      
        </nav>
    
  
  <div>
    
  </div>
  </header>
  
  <main>
    <div class="clip"> 
    
      <iframe class="rien" width="560" height="315" src="https://www.youtube.com/embed/PJO41yI-INY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
    
    
    <div id="bio"> 
    Tristan Thoraval, aka Androma, is a young producer from Nantes who now lives in Paris. Son of music-lovers, he practiced drums, trumpet and the violin at the conservatoire before his discovery of electronic music at the age of 16. First turntables, first productions, talented Androma quickly builds his own musical universe filled with danceable beats and dreamy melodies : a true invitation to the voyage, bringing together deep house sounds and groovy brass. It’s on the web that he finds success, with his track « Gunjule » first which hits 7 millions views on Youtube, and also « Kaya » (4 millions views).His first EP is (eagerly) expected !
    
    
    </div>
    
  </main>
  
  <!--  
  <footer class="newsletter">
    <form>
      <div>
        <label for="email">e-mail:</label> 
        <input id="email" name="subscriber_email" type="email" /></div>
      
      <div>
        <button type="submit">S&#39;abonner &agrave; la newsletter</button> 
      </div>
    </form>

  </footer>
  
  -->
  
  
  
  </body>
</html>